{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <head>
        <style>
            
            .jumbotron{
                background-image: url("{% static 'images/movie_back2.jpg' %}");
                background-size: 100%;
                background-position: center;
                color:white;
                text-align: center;
                min-height: 300px;
                margin-top: 0px;
            }
        </style>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome to Movie Database</h1>
                <p class="lead">The goal of website is to provide the relevant information and predict the box office</p>
            </div>
        </div>

    </head>
    <body>
        <div class="card-group">
            <div class="card">
                <img src="{% static 'images/movie_img.jpeg' %}" class="card-img-top" alt="..." height="350px">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Movies</h5>
                    <p class="card-text">The movies contains 13 attributes,including movie title, movie type, director and actor etc.</p>
                    <a href="{% url 'movie' %}" class="btn btn-primary btn-lg btn-block mt-auto">Info</a>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/actor_img.jpg' %}" class="card-img-top" alt="..." height="350px">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Actors</h5>
                    <p class="card-text">The actors contains 6 attributes,including name, date and award_wins etc.</p>
                    <a href="{% url 'actor' %}" class="btn btn-primary btn-lg btn-block mt-auto">Info</a>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/director_img.jpg' %}" class="card-img-top" alt="..." height="350px">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Directors</h5>
                    <p class="card-text">The directors contains 13 attributes,including name, date and award_wins etc.</p>
                    <a href="{% url 'director' %}" class="btn btn-primary btn-lg btn-block mt-auto">Info</a>
                </div>
            </div>
        </div>

    </body>


{% endblock %}
