{% extends 'base.html' %}

{% block title %}
Welcome To Our Movie Database!
{% endblock %}

{% block content %}
<form method="GET" action="{% url 'search' %}">
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="title">
    <button class="btn btn-success" type="submit">
            Search
    </button>
</form>
{% if filter_title %}
    <head>
    <style>
        th{
            max-width: 200px;
            text-align: center;
        }
        td{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }
        </style>
    </head>
        <table class="table table-hover table-sm">
            <thead class="thead-light" data-file-width="5px">
                <tr>
                    <th scope="col">MovieID</th>
                    <th scope="col">Year</th>
                    <th scope="col">Annual Rank</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Duration (min)</th>
                    <th scope="col">Movie Type</th>
                    <th scope="col">Rating</th>
                    <th scope="col">MetaScore</th>
                    <th scope="col">Votes</th>
                    <th scope="col">Gross Earning (million)</th>
                    <th scope="col">Director</th>
                    <th scope="col">Actor</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in filter_title %}
                <tr>
                    <th scope="row"> {{ movie.movieid }}</th>
                    <td> {{ movie.year }}</td>
                    <td align="center"> {{ movie.rank }}</td>
                    <td> {{ movie.title }}</td>
                    <td> {{ movie.description }}</td>
                    <td align="center"> {{ movie.duration }}</td>
                    <td> {{ movie.genres }}</td>
                    <td align="center"> {{ movie.rating }}</td>
                    <td align="center"> {{ movie.metascore }}</td>
                    <td align="center"> {{ movie.votes }}</td>
                    <td align="center"> {{ movie.gross_earning_in_mil }}</td>
                    <td> {{ movie.director }}</td>
                    <td> {{ movie.actor }}</td>
                </tr>
            {% endfor %}
            </tbody>
{% endif %}
{% endblock %}
