{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <head>
        <style>
            body {
                background: mintcream url("{% static 'images/hompage.jpg' %}") ;
            }
         </style>
    </head>

  {% if filter_title %}
        <style>
            th{
                max-width: 80px;
                text-align: left;
            }
            td{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 80px;
            }
        </style>
        <table class="table table-hover table-sm">
            <thead class="thead-light" data-file-width="5px">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Director</th>
                <th scope="col">Actor</th>
                <th scope="col">Max</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in filter_title %}
                <tr>
                    <th scope="row"> {{ movie.title }}</th>
                    <td> {{ movie.name }}</td>
                    <td> {{ movie.star }}</td>
                    <td> {{ filter_title.name }}</td>
                </tr>
            {% endfor %}
            <!-- {% for max in data_max %} -->

                <td> {{ data_max}}</td>

            <!-- {% endfor %} -->
            </tbody>
        </table>
            <h3>{{ filter_title.name }}</h3><br>
    {% else %}
        <div class="container" align="center">
              <h3 style="color: red">Oops! It's new to us!</h3><br>
              <h3 style="color: orange">Oops! It's new to us!</h3><br>
              <h3 style="color: yellow">Oops! It's new to us!</h3><br>
              <h3 style="color: green">Oops! It's new to us!</h3><br>
              <a href="{% url 'insert_data' %}"><h3>Let's add a new one!</h3></a><br>
              <h3 style="color: indigo">Oops! It's new to us!</h3><br>
              <h3 style="color: purple">Oops! It's new to us!</h3><br>

        </div>
            

    {% endif %}
{% endblock %}
